{
  "project_id": "YOUR_PROJECT_ID",
  "app_id": "1:YOUR_PROJECT_NUMBER:android:YOUR_ANDROID_APP_ID",
  "api_key": "YOUR_API_KEY",
  "auth_domain": "YOUR_PROJECT_ID.firebaseapp.com",
  "firestore_database_id": "YOUR_DATABASE_ID",
  "storage_bucket": "YOUR_PROJECT_ID.firebasestorage.app",
  "messaging_sender_id": "YOUR_SENDER_ID",
  "measurement_id": "YOUR_MEASUREMENT_ID"
}
